*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 800px;
    border: 2px solid black;
    background-color: purple;

    display: flex;

    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* MAIN AXIS   justify-content: flex-start;  */
    /* justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* CROSS AXIS   align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;

    gap: 10px;

}

.container>.box{
    height: 80px;
    width: 90px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

.outer{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Default value of justify-content : flex-start 
   Default value of align-items : row              */
