header{
    background-color: antiquewhite;
    height:250px;
}

.card{
    height:250px;
    width:200px;
    background-color: chartreuse;
}


/* DIRECT CHILD SELECTOR*/
header>h1{
    color:blue;
}
.card>h1{
    color: red;
}
header>#para2{
    background-color: green;
}


/*DESCENDENT SELECTOR*/
.card1{
    height: 400px;
    width: 600px;
    background-color: red;
}

.card1 .box{
    height: 300px;
    width: 500px;
    background-color: blue;
}
.card1 .box .container{
    height: 200px;
    width: 400px;
    background-color: yellow;
}
.card1 h2{
    color:green;
}



/*PSEUDOCLASS SELECTOR*/
main>button{
    background-color: aquamarine;
}
/*HOVER*/
main>button:hover{
    background-color: green;
    text-transform:capitalize;
    font-size: 20px;
}

/*ACTIVE*/
main>button:active{
    background-color: blue;
    color: white;
    font-weight: bold;
}

/*nth CHILD*/
main> ol > li:nth-child(2n+1)
{
    background-color: red;  
}
main> ol> li:nth-child(2n){
    background-color: grey;
}


section> p:nth-child(3)
{
    background-color: blueviolet;
}

section> h2:nth-child(2)
{
    background-color:aquamarine;
}

section> h1:nth-child(1)
{
    background-color: violet;
}

section> button:nth-child(7)
{
    background-color: aqua;
}



/*PSEUDOELEMENT SELECTOR*/
.con>h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.con>p{
    font-size: 25px;
    text-align: justify;
    text-indent: 60px;
}
.con>p::first-letter{
    font-size: 60px;
    color: brown;
}
.con>p::first-line{
    background-color: yellow;
    font-style: italic;
    font-weight: bold;
}

.con>h1::before{
    content: "***";
    color: red;
}
.con>h1::after{
    content: "***";
    color: red;
}
.con>p::selection{
    background-color: green;
    color: white;
}

.con>ul>li{
    font-size:25px ;
}
.con>ul>li::marker{
    color:red
}
.con>ul>li:nth-child(2n)::marker{
    color: blue;
}



/*ATTRIBUTE SELECTOR*/
form > input[type="text"]{
    background-color: green;
}
