*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Relative units -> %,vh,vw,em,rem
   Absolute units -> px,cm,mm             */


header{
    background-color: antiquewhite;
    height: 100vh;
    width: 90vw;         /* width: 90%;*/
}

.outer{
    width: 800px;
    height: 400px;
    background-color: aqua;
}

.outer > .inner{
    width: 50%;
    height: 50%;
    background-color: red;
}